<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans-3.1.xsd
    http://www.springframework.org/schema/aop
    http://www.springframework.org/schema/aop/spring-aop-3.1.xsd
    http://www.springframework.org/schema/context
    http://www.springframework.org/schema/context/spring-context-3.1.xsd">
    <bean id="propertyConfigurer"
          class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
        <property name="locations" >
            <list>
                <value>classpath:application-web.properties</value>
                <value>classpath:url.properties</value>
                <value>classpath:redis/redis.properties</value>
            </list>
        </property>
        <property name="fileEncoding">
            <value>UTF-8</value>
        </property>
    </bean>
<context:component-scan base-package="com.ihandy.rbquote"/>
<aop:aspectj-autoproxy expose-proxy="true"/>
<aop:config>
    <aop:pointcut id="userServiceOperation1"
                  expression="execution(* com.ihandy.*.service..*Service.*(..)))" />
    <aop:pointcut id="userServiceOperation2"
                  expression="execution(* com.ihandy.*.*.service..*Service.*(..)))" />
</aop:config>
<context:annotation-config/>
<!-- cookie related -->
    <import resource="classpath:serviceContext.xml" />
    <import resource="classpath:redis/spring-redis.xml"/>


</beans>